{% extends 'GoodjobAppBundle:Landing:base.html.twig' %}
{% block body %}

<div id="thankyou">
    <section class="bannersmall"><h1>Novučičký kurz <strong>Mongo</strong></h1></section>
    <section class="order-form">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h2><span>Gratulujeme! Práve si sa prihlásil na</span>Kurz MongoDB</h2></div>
            </div>
            <div class="row">
                <div class="col-xs-12"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
            </div>
        </div>
    </section>
</div>
{% endblock %}