<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Goodjob</title>
    <style>
        /* -------------------------------------
            GLOBAL
        ------------------------------------- */
        * {
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            font-size: 100%;
            line-height: 1.6em;
            margin: 0;
            padding: 0;
        }
        img {
            max-width: 600px;
            width: auto;
        }
        body {
            -webkit-font-smoothing: antialiased;
            height: 100%;
            -webkit-text-size-adjust: none;
            width: 100% !important;
        }
        /* -------------------------------------
            ELEMENTS
        ------------------------------------- */
        a {
            color: #348eda;
        }
        .btn-primary {
            margin-bottom: 10px;
            width: auto !important;
        }
        .btn-primary td {
            background-color: #348eda;
            border-radius: 25px;
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-size: 14px;
            text-align: center;
            vertical-align: top;
        }
        .btn-primary td a {
            background-color: #348eda;
            border: solid 1px #348eda;
            border-radius: 25px;
            border-width: 10px 20px;
            display: inline-block;
            color: #ffffff;
            cursor: pointer;
            font-weight: bold;
            line-height: 2;
            text-decoration: none;
        }
        .last {
            margin-bottom: 0;
        }
        .first {
            margin-top: 0;
        }
        .padding {
            padding: 10px 0;
        }
        /* -------------------------------------
            BODY
        ------------------------------------- */
        table.body-wrap {
            padding: 20px;
            padding-top: 52px;
            width: 100%;
            text-align: center;
        }
        table.body-wrap .container {
            border: 1px solid #f0f0f0;
        }
        /* -------------------------------------
            FOOTER
        ------------------------------------- */
        table.footer-wrap {
            clear: both !important;
            width: 100%;
        }
        .footer-wrap .container p {
            color: #666666;
            font-size: 12px;

        }
        table.footer-wrap a {
            color: #999999;
        }
        /* -------------------------------------
            TYPOGRAPHY
        ------------------------------------- */
        h1,
        h2,
        h3 {
            color: #111111;
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 200;
            line-height: 1.2em;
            margin: 40px 0 10px;
        }
        h1 {
            font-size: 36px;
            font-weight: bold;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 22px;
            margin: 0 0 10px;
        }
        p,
        ul,
        ol {
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 10px;
        }
        ul li,
        ol li {
            margin-left: 5px;
            list-style-position: inside;
        }
        /* ---------------------------------------------------
            RESPONSIVENESS
        ------------------------------------------------------ */
        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
            clear: both !important;
            display: block !important;
            margin: 0 auto !important;
            max-width: 460px !important;
        }
        /* Set the padding on the td rather than the div for Outlook compatibility */
        .body-wrap .container {
            padding: 20px;
        }
        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
            display: block;
            margin: 0 auto;
            max-width: 600px;
        }
        /* Let's make sure tables in the content area are 100% wide */
        .content table {
            width: 100%;
        }

        .cta-btn {
            display: inline-block;
            padding: 1em 3em;
            color: white;
            background-color:#82c34b;
            text-decoration: none;
            font-weight: bold;
        }
        .cta-btn:hover {
            cursor: pointer;
        }
    </style>
</head>

<body bgcolor="#f0f0f0" style="-webkit-font-smoothing: antialiased; height: 100%; -webkit-text-size-adjust: none; width: 100% !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">

<!-- body -->
<table class="body-wrap" bgcolor="#f0f0f0" style="padding: 20px; padding-top: 52px; width: 100%; text-align: center;">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF" style="padding: 20px; clear: both !important; display: block !important; margin: 0 auto !important; max-width: 460px !important; border: 1px solid #f0f0f0; text-align: center;">
            <div style="margin: -20px; margin-bottom: 0; background-color: #222421; height: 62px; text-align: center;">
                <img src="http://goodjob.sk/bundles/goodjob/images/logo.svg" alt="Goodjob" style="height: 32px; margin-top: 15px;">
            </div>
            <!-- content -->
            <div class="content" style="display: block; margin: 0 auto; max-width: 600px; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <h1 style="margin: 40px 0 0; font-size: 36px; font-weight: bold; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">Gratulujeme!</h1>
                            <h3 style="color: #6a6d72; font-size: 22px; margin: 0 0 20px; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">Úspešne si sa prihlásil na kurz</h3>

                            <!-- button -->
                            <table style="background-color: #f6f7f9; padding: 60px 35px 25px; width: 100%; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <h1 style="margin: 0; margin-bottom: 20px; color:#82c34b; font-size: 36px; font-weight: bold; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">{{ data.course_name }}</h1>
                                        <p style="margin: 0; margin-bottom: 20px; color: #6a6d72; font-size: 14px; font-weight: normal; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
                                            Do 24 hodín ťa kontaktujeme na tento e-mail s upresnením informácií ohľadom prihlášky a platby.
                                        </p>
                                        <!--<a class="cta-btn" href="" style="display: inline-block; padding: 1em 3em; color: white; background-color:#82c34b; text-decoration: none; font-weight: bold; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">Call To Action Baaatn</a>-->
                                    </td>
                                </tr>
                            </table>
                            <!-- /button -->
                            <p style="color: #6a6d72; margin-top: 20px; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;"><a href="www.goodjob.sk" style="color: #6a6d72; text-decoration: none;">www.goodjob.sk</a></p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
</table>
<!-- /footer -->

</body>
</html>